.header
  .header__logo
    To-do

.contents
  .tasks
    .task
      %li.task__left-name
        = form_for @task do |f|
          = f.text_field :content, class: "input-box", placeholder: "type a task"
          = f.submit "update", class: "send-btn"
      .task__right-status
        start