.header
  .header__logo
    To-do

.contents
  .tasks
    -# .tasks__title
    -#   .tasks__title__left-name
    -#     Task
    -#   .tasks__title__right-status
    -#     Status

    .task
      %li.task__left-name
        = form_for @task do |f|
          = f.text_field :content, class: "input-box", placeholder: "type a task", method: :patch
          = f.submit "update", class: "send-btn"
      .task__right-status.edit-status
        = @task.status