.header
  .header__logo
    To-do

.contents
  .contents__title
    .contents__title__left-name
      Task List
    .contents__title__right-form
      -# フォーム追加
    .send-btn
      create
  .tasks
    .tasks__title
      .tasks__title__left-name
        Task
      .tasks__title__right-status
        Status
    .task
      .task__left-name
        タスク１
      .task__right-status
        start
    .task
      .task__left-name
        タスク2
      .task__right-status
        doing
    .task
      .task__left-name
        タスク3
      .task__right-status
        done