// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  background-color: cadetblue;
  color: white;
  height: 60px;
  &__logo{
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    padding-left: 20px;
  }
}

.contents{
  height: calc(100vh - 60px);
  width: 1100px;
  margin: 0 auto;
  background-color: blanchedalmond;
  &__title{
    font-size: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    &__left-name{
      line-height: 50px;
    }
    &__right-form{
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      width: 600px;
      form{
        display: flex;
      }
      .input-box{
        width: 100%;
      }
    }
      .send-btn{
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-size: 25px;
        height: 40px;
        width: 100px;
        margin-left: 20px;
      }
  }
  .tasks{
    font-size: 20px;
    
    &__title{
      display: flex;
      justify-content: space-between;
      padding: 0 70px;
      &__right-status{
        padding: 0 20px;
      }
    }
    
    .task{
      display: flex;
      justify-content: space-between;
      padding: 10px 70px;
      background-color: cornsilk;
      margin: 10px;
      border-radius: 10px;
      height: 40px;
      &__left-name{
        list-style: none;
      }
      &__right-status{
        position: absolute;
        right: 300px;
        background-color: lightseagreen;
        border-radius: 5px;
        padding: 10px;
        color: cornsilk;
        width: 50px;
        text-align: center;
      }
      &__right-icon{
        display: flex;
      }
      &__delete-task{
      }
    }
  }
}